@page "/Cart"
@implements IDisposable
@rendermode InteractiveServer

@if (authService.IsUserLoggedIn)
{
    <header>
        <h1 class="cart-title extraTextGlow">🦊 Products Added to Cart: @NumberOfItemInCart</h1>
    </header>

    <article class="cart-page">

        @if (cartData.GetBeautyCart().Count > 0)
        {
            <section>
                <div class="beauty-products">
                    <h2 class="cart-title">💄 Beauty Products</h2>
                    <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
                        @foreach (var product in cartData.GetBeautyCart().Reverse())
                        {
                            <div class="col">
                                <div class="glass-card">
                                    <i type=" button" class="cross btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                        @onclick="() => PassTORemoveFromCart(product)">
                                        <strong>X</strong>
                                    </i>
                                    <div class="card-img-container">
                                        <img src="@product.ImagePath" class="card-img-top lazy-load"
                                            alt="@product.ProductName picture" loading="lazy">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@product.ProductName</h5>
                                        <div class="price">Rs @product.Price</div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
        }


        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel"><strong>remove from Cart</strong> 🦊</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            @onclick="Clear"></button>
                    </div>
                    <div class="modal-body">
                        @if (OnlineStore.Data.CartData.cartDataDEtail == string.Empty)
                        {
                            <span> 🦊 Sure wanna remove <strong> @selectedProductInCart?.ProductName </strong>🥺? </span>
                        }
                        else
                        {
                            <span>🦊 @OnlineStore.Data.CartData.cartDataDEtail</span>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            @onclick="Clear">Close</button>
                        @if (Data.CartData.cartDataDEtail == string.Empty)
                        {
                            @if (selectedProductInCart?.ProductType == "beauty")
                            {
                                <button type="button" class="btn btn-primary" @onclick="RemoveBeautyItemFromCart">remove 🫣</button>
                            }
                            @if (selectedProductInCart?.ProductType == "kitchen")
                            {
                                <button type="button" class="btn btn-primary" @onclick="RemoveKitchenItemFromCart">remove
                                    🫣</button>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        @if (cartData.GetKitchenCart().Count > 0)
        {

            <section>
                <div class="beauty-products">
                    <h2 class="cart-title extraTextGlow">🧑🏻‍🍳 Kitchen Products</h2>
                    <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
                        @foreach (var product in cartData.GetKitchenCart().Reverse())
                        {
                            <div class="col">
                                <div class="glass-card">
                                    <i type=" button" class="cross btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                        @onclick="() => PassTORemoveFromCart(product)">
                                        <strong>X</strong>
                                    </i>
                                    <div class="card-img-container">
                                        <img src="@product.ImagePath" class="card-img-top lazy-load"
                                            alt="@product.ProductName picture" loading="lazy">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@product.ProductName</h5>
                                        <div class="price">Rs @product.Price</div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
        }

    </article>
}
else
{
    <LoginPage />
}
