@page "/Cart"
@inject OnlineStore.Data.CartData cartData

@implements IDisposable
@rendermode InteractiveServer

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<header>
    <h1 class="cart-title">🦊 Products Added to Cart 🦊</h1>
</header>
<article class="cart-page">

    <section>
        <div class="beauty-products">
            <h2 class="cart-title">💄 Beauty Products</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var product in cartData.GetBeautyCart())
                {
                    <div class="col">
                        <div class="glass-card">
                            <i type=" button" class="cross btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                @onclick="() => PassTORemoveFromCart(product)">
                                <strong>X</strong>
                            </i>
                            <div class="card-img-container">
                                <img src="@product.ImagePath" class="card-img-top lazy-load"
                                    alt="@product.ProductName picture" loading="lazy">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@product.ProductName</h5>
                                <div class="price">Rs @product.Price</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>


    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"><strong>remove from Cart</strong> 🦊</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        @onclick="Clear"></button>
                </div>
                <div class="modal-body">
                    @if (OnlineStore.Data.CartData.cartDataDEtail == string.Empty)
                    {
                        <span> 🦊 Sure wanna remove <strong> @selectedProductInCart?.ProductName </strong>🥺? </span>
                    }
                    else
                    {
                        <span>🦊 @OnlineStore.Data.CartData.cartDataDEtail</span>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        @onclick="Clear">Close</button>
                    @if (Data.CartData.cartDataDEtail == string.Empty)
                    {
                        <button type="button" class="btn btn-primary" @onclick="RemoveFromCart">remove 🫣</button>
                    }
                </div>
            </div>
        </div>
    </div>


    <section>
        <div class="cart-section">
            <h2 class="cart-title">🍽️ Kitchen Products</h2>
            <div class="glass-card">
                <table class="cart-table">
                    <tr>
                        <th>Item Name</th>
                        <th>Cost</th>
                        <th>Quantity</th>
                    </tr>
                    @foreach (var item in cartData.Carts)
                    {
                        <tr>
                            <td>@item.ItemName</td>
                            <td>₹@item.ItemCost</td>
                            <td>@item.ItemInCart</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </section>


</article>